//Color Variables
$Red: hsl(0, 100%, 68%);
$VeryDarkBlue: hsl(230, 29%, 20%);
$DarkGrayishBlue: hsl(230, 11%, 40%);
$GrayishBlue: hsl(231, 7%, 65%);
$LightGrayishBlue: hsl(207, 33%, 95%);

//Font Stack
$F-stack-1: 'Barlow', sans-serif;
$F-stack-2: 'Barlow Condensed', sans-serif;

$F-s-1-w-1: 400;
$F-s-2-w-1: 400;
$F-s-2-w-2: 700;
$F-s-2-w-3: 800;